<?xml version="1.0"?>
<configuration>

  <!--If this is not commented out manage page will not load with my system of login-->
  <!--<location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->

</configuration>
